{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>


  <link rel="stylesheet" href="{% static 'loginstyles.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodDeed - Login</title>
</head>
<body>
    {% for message in messages %}
    <p  id="messages">{{message}}</p>
    {% endfor %}
  <!-- Form-->
<div class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
      <div class="form-header">
          <h1>Account Login</h1>
      </div>
      <div class="form-content">
          <form method="POST" action="">
            {% csrf_token %}
              <div class="form-group"><label for="username">Username</label><input type="text" id="username" name="username" required="required" /></div>
              <div class="form-group"><label for="password">Password</label><input type="password" id="password" name="password" required="required" /></div>
              <div class="form-group"><label class="form-remember"><input type="checkbox" />Remember Me</label><a class="form-recovery" href="/contact/">Forgot Password?</a></div>
              <div class="form-group"><button type="submit">Log In</button></div>
              <div id="register"><a href="/register">Don't have an account? Sign Up Here!</a></div>
          </form>
      </div>
  </div>
  
          
      </div>

  
</body>
</html>